/* wrapper */
.wrapper {
  background: linear-gradient(45deg, #8500ff, #5acaff);
  height: 100vh;
}

/* container */
.container {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../images/p404.png"), #151759;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.container .content {
  max-width: 660px;
  text-align: center;
}

.container .content h2 {
  font-size: 18vw;
  color: #fff;
  line-height: 1em;
}

.container .content h4 {
  position: relative;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #111;
  font-weight: 300;
  padding: 10px 20px;
  display: inline-block;
}

.container .content p {
  color: #fff;
  font-size: 1.2em;
}
